<button 
  data-open-modal="modal-login" 
  class="open-modal inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium font-mono bg-stone-50 inset-ring border border-dashed h-10 px-3">
  Open Login Modal
</button>

<section> 
  <aside 
    id="modal-login" 
    data-modal-classes="opacity-0 pointer-events-none"
    class="modal fixed top-0 left-0 w-screen h-screen bg-black/50 backdrop-blur-sm backdrop-grayscale flex justify-center items-center opacity-0 pointer-events-none transition-opacity duration-300 ease-out z-40"> 
    
    <section 
      data-dialog-classes="scale-95 scale-100"
      class="modal-dialog w-64 bg-white rounded-lg transform transition-transform duration-300 ease-out scale-95"> 
      
      <header class="flex justify-between content-center p-4 border-b"> 
        <p class="font-bold">Modal header</p> 
        <button data-close-modal class="text-stone-500 hover:text-black font-bold">✕</button>
      </header> 
      
      <article class="p-4">Modal body (Login Form Here)</article> 
      
      <footer class="flex justify-between content-center p-4 border-t"> 
        <p class="font-bold">Modal footer</p> 
      </footer> 
    </section> 
  </aside> 
</section>